<h1>

<div id="people-container">
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(document).ready(function() {
      $.get("api/v1/people", function(data) {
          let string = data.map(person => {
              return `
                  <div class="person-name-detail">
                    <div>
                      <h4>Name: ${person.first_name}</h4>
                    </div>
                    <div>
                      <h4> ${ person.middle_name}</h4>
                    </div>
                    <div>
                      <h4> ${person.last_name}</h4>
                    </div>
                      <a href='/people/${person.id}/edit'>Edit</a>
                      <button id=edit>Delete</button>
                  </div>`
          }).join(' ');
          $("#people-container").html(string);
      });
  });
});
</script>
