.sign-in {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.custom {
  width: 125px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  font-size: 45px;
}
