.show-container {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #F7F7F7;
  width: auto;
  margin: 60px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

.address-town-container {
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  justify-content: center;
}

#delete {
  margin: 10px;
}

.size {
  width: 150px;
}
